<%- include ('../includes/header') %> 
<div class="evenement">
    <div class="evenement_info">
        <div class="evenement_contenue">CONTACT DES MEMBRES DE LA PROMOTION</div>
        <div class="photo">
            <% if (UTILISATEUR_CONNECTE) { %>
                <% if (CONTACTS) { %>
                    <% CONTACTS.forEach(CONTACT => { %>
                     <div class="evenement_photo">
                <div class="photo_evenement">
                    <img src="<%= CONTACT.photo_profil %>" alt="<%= CONTACT.photo_profil %>">
                </div>
                <div class="evenement_date">+225 <%= CONTACT.telephone %></div>
                <div class="evenement_description">Dr <%= CONTACT.nom %> <%= CONTACT.prenom %></div>
                <div class="button_photo contact_un">
                    <button class="modifier"><a href="/contact/contact_detail/<%= CONTACT._id %>" target="">Voir +</a></button>
                </div>
            </div>
                    <% }) %>
                    <% } %>
            <% } %>
            
        </div>
       
    </div>
</div>

<%- include ('../includes/footer') %> 